{% extends 'app/base.html' %} {% load static %} {% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item active" href="#"> My order history </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            {% for order in orders %}
            <strong class="d-inline-block mr-3">Order ID: {{order.id}}</strong>
            <span>Order Date: {{order.date_order}}</span>
            {% endfor %}
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h6 class="text-muted">Payment</h6>
                <span class="text-success">
                  <i class="fab fa-lg fa-cc-visa"></i>
                  Visa **** 4216
                </span>
                <p>
                  Subtotal: ${{total}} <br />
                  Shipping fee: $56 <br />
                  <span class="b">Total: ${{totals}} </span>
                </p>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
          <div class="table-responsive">
            <table class="table table-hover">
              {% for item in order_item%}
              <tr>
                <td width="65">
                  <img src="{{item.product.ImageURL}}" class="img-xs border" />
                </td>
                <td>
                  <p class="title mb-0">{{item.product.name}}</p>
                  <var class="price text-muted"
                    >${{item.product.price}} USD</var
                  >
                </td>
                <td>
                  {{item.product.ram}} <br />
                  {{item.product.memory}}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <!-- table-responsive .end// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<footer class="section-footer border-top padding-y">
  <div class="container">
    <p class="float-md-right">&copy Copyright 2019 All rights reserved</p>
    <p>
      <a href="#">Terms and conditions</a>
    </p>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
{% endblock %}
