{% extends 'app/base.html' %} {% load static %} {% block content %}
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  {% for category in categories %}
                  <li>
                    <a href="{% url 'category' %}?category={{category.slug}}"
                      >{{category.name}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </article>
          {% comment %}
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_4"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Color</h6>
              </a>
            </header>
            {% comment %}
            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body">
                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XS </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> SM </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> LG </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XXL </span>
                </label>
              </div>
            </div>
            {% endcomment %} {% comment %}
          </article>
          {% endcomment %}

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_3"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price range</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <form action="{% url 'search_products' %}" method="GET">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <select class="mr-2 form-control" name="min_price">
                        <option value="0">0</option>
                        <option value="100">$100</option>
                        <option value="300">$300</option>
                        <option value="500">$500</option>
                        <option value="1000">$1000</option>
                        <option value="5000">$5000</option>
                        <option value="1000000">$1000000</option>
                      </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                      <select class="mr-2 form-control" name="max_price">
                        <option value="0">0</option>
                        <option value="100">$100</option>
                        <option value="300">$300</option>
                        <option value="500">$500</option>
                        <option value="1000">$1000</option>
                        <option value="5000">$5000</option>
                        <option value="1000000">$1000000</option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-primary">
                    Apply
                  </button>
                </form>
              </div>
            </div>
          </article>
        </div>
      </aside>
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">Result search for {{searched}}</span>
          </div>
        </header>

        <div class="row">
          {%for product in keys %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="{{product.ImageURL}}" />
              </div>
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="product-detail.html" class="title"
                    >{{product.name}}</a
                  >
                  <div class="price-wrap mt-2">
                    <span class="price"
                      >${{product.price | floatformat:2}}</span
                    >
                  </div>
                </div>
                <a
                  href="#"
                  class="btn btn-block btn-primary update-cart"
                  data-product="{{product.id}}"
                  data-action="add"
                  >Add to cart
                </a>
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>

        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
            {% if product_list.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?category={{ active_category }}&amp;page={{ product_list.previous_page_number }}"
                >Previous</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            {% endif %} {% if product_list.has_next %}
            <li class="page-item">
              <a
                class="page-link"
                href="?category={{ active_category }}&amp;page={{ product_list.next_page_number }}"
                >Next</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
            {% endif %}
          </ul>
        </nav>
      </main>
    </div>
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
